:root{
    --navbar_background:#2b2f35;
    --lightBlue:#567397;
    --fontColor:white;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .navbar{
      background-color: var(--navbar_background);
  }
  .navbar_wrapper{
    color: var(--fontColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 20px;
  }
  .navbar_logo{
     flex: 0.6;
     display: flex;
     align-items: center;
     cursor: pointer;
  }
  .navbar_icon{
      font-size: 30px;
  }
  .navbar_links{
      flex:0.4;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .navbar_link{
      list-style: none;
      cursor: pointer;
      font-size: 18px;
      transition: 0.2;
  }
  .navbar_link:hover{
      color:var(--lightBlue);
    transform: scale(1.05);
  }
  @media (max-width:768px) {
      .navbar_links{
          display: none;
      }
  }