:root {
    --navbar_background: #2b2f35;
    --lightBlue: #567397;
    --fontColor: white;
    --bg-signup-login:#162639;
    --input-bg:#c4c4c4;;
  }

.signup-form {
    max-width: 560px;
    margin: 60px auto;
    padding: 50px;
    background: var(--bg-signup-login);
    color: var(--fontColor);
    padding-left: 50px;
}
.signup-form label {
    display: block;
    margin: 30px auto;
    font-size: 1.5rem;
}
.signup-form span {
    display: block;
    margin-bottom: 6px;
}
.signup-form input {
    padding: 8px 6px;
    font-size: 2rem;
    background-color: var(--input-bg);
    width: 90%;
    border-radius: 5px;
    outline: none;
}